h1 {
    color:rgb(32, 29, 46);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    background-color: rgb(149, 132, 211);
    color:rgb(59, 59, 59);
    border-color:rgb(199, 165, 121);
    font-family:Georgia, 'Times New Roman', Times, serif;
    position:sticky;
    width: 100vw;
    border-style: groove;
    border-left-width: 0cm;
    top: 0;
    z-index: 3;
    padding-left: 10px;
}
div {
    background-color:rgb(210, 205, 230);
    padding: 1%;
    
}
p {
    background-color:rgb(169, 170, 248);
    
}
h3 {
    color: rgb(37, 33, 63);
    background-color:rgb(116, 118, 248);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navlink {
    color: rgb(34, 33, 33);
    background-color:rgb(168, 152, 135);
    border-style: groove;
    padding: 2px;
    border-color:rgb(173, 163, 149);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    transition: color 2000ms, border-color 1000ms;
    
}
.navlink:hover {
    color: hsl(0, 63%, 49%);
    border-color: rgb(190, 29, 29);
}
.deadlink {
    color: rgba(34, 33, 33, 0.253);
    background-color:rgb(168, 152, 135);
    border-style: groove;
    padding: 2px;
    border-color:rgba(173, 163, 149, 0.459);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {color: rgb(29, 20, 87);}
form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

body {
    margin:0;
  padding:0;
  
    background-image: linear-gradient(rgb(126, 117, 101), rgb(20, 17, 12), black);
    z-index: 1;
}
#quotebox {
    display: flex;
    max-width:1100px;
    justify-content:space-evenly;
    position: relative;;
    border-bottom-style:ridge;
    border-bottom-width: 6px;
    border-color: antiquewhite;
}
li:nth-child(even) {
    background-color: rgb(164, 164, 255);
}
.pbox {
    min-width: 150px; 
    max-width:500px;margin:
     auto;
     padding: 20px;
     font-size: larger;
     border-style:ridge;
     position: relative;
     border-color: rgb(168, 134, 89);
     z-index: 2;
     background-color: rgb(149, 132, 211);
}
h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}